<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NYC Bus Profiles">
  <meta name="author" content="NYU CUSP">
  <!-- <link rel="icon" href="../../favicon.ico"> -->
  <title>NYC Bus Profile Dashboard</title>
  <link href="{{ url_for('static', filename='css/pace.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/performances.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/libs/leaflet.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
 <div>
  <nav class="navbar navbar-default" id="navBars">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div id="navbarHeader" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-1" aria-expanded="false" style="padding-top: 15px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mainLogo" class="navbar-brand" href="/home" style="padding-top: 23px;">
          <span class="text">NYC Bus Profile</span><i> beta</i>
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse-1" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right topbar">
          <li>
            <a href="/home">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/routes/B41">
              <span>Route Level Metrics</span>
            </a>
          </li>
          <li>
            <a href="/methodologies">
              <span>Methodologies</span>
            </a>
          </li>
          <li class="active">
            <a href="/about" style="padding-right:40px;">
              <span>About</span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav><!-- end of the navbar -->
</div>
<div class="page-header">
  <h1 class="center">About</h1>
</div>
<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-1 container-about">
    <div class="row mtop30">
      <p class="about">
        This project is a capstone project of the <a href="cusp.nyu.edu">CUSP NYU</a> master program sponsored by <a href="transitcenter.org">TransitCenter</a>,
        aiming to build a performance dashboard that communicates overall reliability metrics to the public, on a line-by-line basis.
      </p>
      <p class="about">
          We hope this project might:
      </p>
      <p class="about">
        <ol>
          <li>
            Assist transit agencies and advocates to take advantage of the latest data and analytical tools to optimize planning, service delivery, and public engagement.
          </li>
          <li>
            Raise the expectations for transit in NYC while providing a practical vision and popular support for achieving them.
          </li>
        </ol>
      </p>
      <p class="about">
        This project is still in the beta version, so if there is any bug, miscalculation, please contact us below.
      </p>

    </div><!--row about -->
    <div class="row">
      <h1 class="abouttitle">Acknowledgments</h1>
      <p class="about">
        First, we would like to thank Zak Accuardi, Tabitha Decker and everyone else at TransitCenter for their time, feedback and enthusiasm in sponsoring our project. Similarly, we would like to thank Mark Seaman from the New York City Department of Transportation for sharing his expertise in developing user-centered tools. We would also like to thank Neil Freeman for providing the logical basis on which our code is based and Nathan Johnson for archiving the data, without which this study would not be possible. Lastly, we would like to thank our advisors, Professors Huy Vo and Kaan Ozbay, for their support and invaluable advice throughout this project. 
      </p>
    </div>
    <div class="row">
      <h1 class = "abouttitle">Team</h1>
      <div class="team-container"><!-- ul team list -->
        <div class="column">
          <div class="card">

            <img src="{{ url_for('static', filename='img/Ian.jpg') }}" alt="Ian" style="width:100%">
            <div class="my-container">
              <h2>Ian Wright</h2>
              <p class="title">Backend and frontend dev.</p>
              <p>iw453@nyu.edu</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/shay.jpg') }}" alt="Shay" style="width:100%">
            <div class="my-container">
              <h2>Shay Lehmann</h2>
              <p class="title">Girl living in Brooklyn with Cats. The metrics master.</p>
              <p>sl5335@nyu.edu</p>
            </div>
          </div>
        </div>



        <div class="column">
            <div class="card">
              <img src="{{ url_for('static', filename='img/Mona.png') }}" alt="Mona" style="width:100%">
              <div class="my-container">
                <h2>Nurvirta Monarizqa</h2>
                <p class="title">UI/UX, frontend dev, data & metrics.</p>
                <p>nm2773@nyu.edu</p>
              </div>
            </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Hongting.jpg') }}" alt="Hongting" style="width:100%">
            <div class="my-container">
              <h2>Hongting Chen</h2>
              <p class="title">Master Student of CUSP</p>
              <p>hc1924@nyu.edu</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="{{ url_for('static', filename='img/Francis.jpg') }}" alt="Francis" style="width:100%">
              <div class="my-container">
                <h2>Francis Ko</h2>
                <p class="title">Master Student of CUSP</p>
                <p>fk759@nyu.edu</p>
              </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="{{ url_for('static', filename='img/huy.jpg') }}" alt="Huy" style="width:100%">
              <div class="my-container">
                <h2>Huy Vo</h2>
                <p class="title">Professor/Supervisor</p>
                <p>ehuy.vo@nyu.edu</p>
              </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
              <img src="{{ url_for('static', filename='img/kaan.png') }}" alt="Kaan" style="width:100%">
              <div class="my-container">
                <h2>Kaan Ozbay</h2>
                <p class="title">Professor/Supervisor</p>
                <p>ko772@nyu.edu</p>
              </div>
            </div>
        </div>


      </div><!--end of row team list -->
  </div>
  <div class="row">
    <h1 class = "abouttitle">
    NYU | Center for Urban Science and Progress
    </h1>
    <p class = "about">
        New York University's Center for Urban Science & Progress (CUSP) is a university-wide center whose research and education programs are focused on urban informatics. Using NYC as its lab, and building from its home in the NYU Tandon School of Engineering, it integrates and applies NYU strengths in the natural, data, and social sciences to understand and improve cities throughout the world. CUSP offers a one-year MS degree in Applied Urban Science & Informatics.
    </p>
  </div>
  <div class="row">
    <h1 class = 'abouttitle'>
        Contact
    </h1>
    <div class="row">
        <div class = 'col-sm-6'>
            <label>CUSP:</label>
            <p>1 MetroTech Center, 19th Floor Brooklyn, NY 11201</p>
            <p>T: (646) 997-0500</p>
            <p>F: (646) 997-0560</p>
            <p>E: cusp-information@nyu.edu</p>
        </div>
        <div class = 'col-sm-6'>
            <label>TransitCenter: </label>
            <p>
                1 Whitehall Street 17th floor, NY 10004
            </p>
            <p>T: (+1)646-395-9555</p>
            <p>F: info@transitcenter.org</p>
        </div>

    </div>
  </div>
</div>

</div><!-- /.container-fluid -->

</body>

<div id="footer"><!-- footer -->
  <div id="footerInner">

    <div id="rightFooter">
      <a href="" target="_blank">
        <img src="{{ url_for('static', filename='img/transitcenter.png') }}" alt="MassDOT Logo" height="31" class="footerLogo">
      </a>
      <a href="" target="_blank">
        <img src="{{ url_for('static', filename='img/CUSP_long_color.jpg') }}" alt="MBTA Logo" height="31" class="footerLogo">
      </a>
    </div>
  </div>
</div> <!-- End Footer -->

<!--javascripts -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='homecharts.js') }}"></script>
</html>
