<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NYC Bus Profiles">
    <meta name="author" content="NYU CUSP">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>NYC Bus Profile Dashboard</title>
<!--     <link href="{{ url_for('static', filename='css/pace.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/performances.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/libs/leaflet.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />
<!--     <script src="{{ url_for('static', filename='js/libs/pace.min.js') }}"></script> -->

<!-- for datepicker-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/angular/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="js/uib-datepicker.js"></script>
    <!-- for d3 chart-->
    <script type="text/javascript" src="js/libs/d3.v4.js"></script>
  </head>

  <body>
    <!-- navbar-->
    <nav class="navbar navbar-default" id="navBars">
      <div id="navbarContainer">
    	  <div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div id="#navbarHeader" class="navbar-header">
    		  <button type="button" id="menuCollapseButton" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="padding-top: 21px;">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		  </button>
    		  <a id="mainLogo" class="navbar-brand" href="#" style="padding-top: 23px;">

    			<span class="text">NYC Bus Profile</span>
    		  </a>
    		</div>

    		<div id="sidebar" class="navbar-collapse collapse collapsed" aria-expanded="false" style="height: 0px;">
    			<div class="sidebar">
    				<ul class="nav navbar-nav sidebar-nav">
    					<li>
    						<div ng-class="{active: $state.includes('detail') || $state.includes('home') }">
    							<a ui-sref="home" href="{{ url_for('home') }}">
    								Dashboard
    							</a>
    						</div>

    						<ul class="sidebarSubLinks">
    							<!-- ngRepeat: mc in metricCategories --><li class="underline ng-scope" ng-repeat="mc in metricCategories">
    								<a ui-sref="detail({ metricCategory:mc.slug })" ui-sref-opts="{ inherit: false }" ui-sref-active="active" class="ng-binding" href="#/detail/reliability///">
    									On-Time Performance
    								</a>
    							</li><!-- end ngRepeat: mc in metricCategories -->
                  <li class="underline ng-scope" ng-repeat="mc in metricCategories">
    								<a ui-sref="detail({ metricCategory:mc.slug })" ui-sref-opts="{ inherit: false }" ui-sref-active="active" class="ng-binding" href="#/detail/reliability///">
    									Excess Wait Time
    								</a>
    							</li>
                  <li class="underline ng-scope" ng-repeat="mc in metricCategories">
    								<a ui-sref="detail({ metricCategory:mc.slug })" ui-sref-opts="{ inherit: false }" ui-sref-active="active" class="ng-binding" href="#/detail/reliability///">
    									Reliability Buffer Time
    								</a>
    							</li>
    						</ul>

    					</li>
              <li>
    						<div class="underline active" ui-sref-active="active">
    							<a href="/routes/BX39">
    								Route Level Metrics
    							</a>
    						</div>
                <div class="row mleft0">
      						<div class="styled-select purple rounded">
      							Select a Route!
      							<select id="routeSelect" size="1">
      								{% for route in avail %}
  									    <option name="route" value="{{ route }}">{{ route }}</option>
  									{% endfor %}
      							</select>
      						</div>
                </div>
    					</li>

    					<li>
    						<div class="underline" ui-sref-active="active">
    							<a href="/glossary">
    								Glossary
    							</a>
    						</div>
    					</li>

    				</ul>
    			</div> <!-- Side bar end -->
    		</div> <!-- Side bar collapse end -->

    		<div id="topbarCollapse" class="navbar-collapse collapse" aria-expanded="false" style="height: 0px;">
    		  <ul id="topbar" class="nav navbar-nav navbar-right collapsed">
    			<li class="mtop10">
    				<a ui-sref="about" ui-sref-active="active" href="#/about">About</a>
    			</li>
    			<li class="mtop10">
    				<a ui-sref="contact" ui-sref-active="active" href="#/contact">Contact</a>
    			</li>
          <li>
            <img src="{{ url_for('static', filename='img/CentralAdmin_Logoart/nyu_stacked_white.png') }}" width="27" height="37" alt="T" style="display:inline-block;vertical-align:middle">
          </li>
    		  </ul>
    		</div> <!-- Navbar collapse end -->

    	  </div><!-- /.container-fluid -->
      </div>
    </nav><!-- navbar ends -->

    <div id="contentWrapper">

      <div id="container">
        <!-- title -->
        <h2>Route Level Performance</h2>
        <div class="row mleft0">
					<h1 id="bus_id">le bus...</h1>
				</div>

        <div class="row mleft0"> <!-- row container -->

          <div class="col-sm-9">
            <div class="row mleft0"> <!-- row metrics -->

              <div class="col-sm-4">
                <div class="rowbox">
                  <p class="span-date">31 May 2017</p>
                </div>
                <div class="rowbox">
                  <h2>Excess Wait Time</h2>
                  <p>Short Explanation<p>
                </div>
                <div class="row">
                  <h1 class="jumbo">3.5 min</h1>
                </div>
                <div class="row">
                  <div class="btn btn-primary .pull-right btn-round">DETAILS</div>
                </div>
              </div><!-- end of ewt box-->

              <div class="col-sm-4">
                <div class="rowbox">
                  <p class="span-date">31 May 2017</p>
                </div>
                <div class="rowbox">
                  <h2>Speed</h2>
                  <p>Short Explanation<p>
                </div>
                <div class="row">
                  <h1 class="jumbo">5 mph</h1>
                </div>
                <div class="row">
                  <div class="btn btn-primary .pull-right btn-round">DETAILS</div>
                </div>
              </div><!-- end of speed box-->
              <div class="col-sm-4">
                <div class="rowbox">
                  <p class="span-date">31 May 2017</p>
                </div>
                <div class="rowbox">
                  <h2>RBT</h2>
                  <p>Short Explanation<p>
                </div>
                <div class="row">
                  <h1 class="jumbo">19.7 %</h1>
                </div>
                <div class="row">
                  <div class="btn btn-primary .pull-right btn-round">DETAILS</div>
                </div>
              </div><!-- end of rbt box-->
            </div><!-- end of row metrics -->

            <div class="row mleft0"> <!--map -->
              <div id="map"><!--map goes here!--></div>
            </div> <!-- map -->

            <div class="row mleft0 mtop40">
              <h1>Trends</h1><!-- chart -->
              <div class="blocks">
                <div class = 'charts-section metricWrapperDetail'>
                <div class = "metricBody">
                <h4>Past Month</h4>
                <div id ="month-chart"></div>
                </div>

                <div>
                <h4>Past 7 Days</h4>
                <div id ="week-chart"></div>
                </div>

                <h4>EWT by Stop</h4>
                <div id ="stop-chart"></div>
                </div>
              </div>
            </div><!-- chart -->

          </div>

          <div class="col-sm-3 mtop0">
            <div class="row">
              <h4>TIME FILTERS</h4>
              <form id="daySelect">
                <input type="radio" name="daybin" value="0"> Weekday
                <input type="radio" name="daybin" value="1"> Weekend
                <input type="radio" name="daybin" value="2" checked> All
              </form>
              <form id="hourSelect">
                <input type="radio" name="hourbin" value="0"> Peak
                <input type="radio" name="hourbin" value="1"> Off-Peak
                <input type="radio" name="hourbin" value="2" checked> All
              </form>
              <h4>DIRECTIONS</h4>
              <select id="dirSelect" size="3">
                <option name= "direction" id="dir0" value="0">Dir0</option>
                <option name= "direction" id="dir1" value="1">Dir1</option>
                <option name= "direction" id="dir2" value="2" selected="selected">All</option>
              </select>
              <h4>METRIC</h4>
              <form id="metricSelect">
                <input type="radio" name="metric" value="ewt" checked> EWT
                <input type="radio" name="metric" value="rbt"> RBT
                <input type="radio" name="metric" value="speed" > speed
              </form>
              <h4>DATE</h4>
              <p>Finally, select a date:</p>
      				<select id="dateSelect" size="1">
      					<!--dynamically add dates to a drop down here-->
      				</select>
            </div> <!-- blocks -->
          </div>
        </div><!-- row content -->

      </div><!-- container -->
    </div><!-- contentWrapper-->

    <div id="footer"><!-- footer -->
      <div id="footerInner">

        <div id="rightFooter">
          <a href="" target="_blank">
            <img src="{{ url_for('static', filename='img/transitcenter.png') }}" alt="MassDOT Logo" height="31" class="footerLogo">
          </a>
          <a href="" target="_blank">
            <img src="{{ url_for('static', filename='img/CUSP_long_color.jpg') }}" alt="MBTA Logo" height="31" class="footerLogo">
          </a>
        </div>
      </div>
    </div> <!-- End Footer -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/d3.v4.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
            integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
            crossorigin=""></script>

    <script type="text/javascript" src="{{ url_for('static', filename='charts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tc.js') }}"></script>
  	<script>
  		var route = '{{ route }}';
  		console.log(route);
  		var dataURL = `/routes/${route}/data`;
  	    $.getJSON(dataURL, function(data) {
              tc.initialize(data, first=true);
          });
      </script>

  </body>
</html>
