<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NYC Bus Profiles">
  <meta name="author" content="NYU CUSP">
  <!-- <link rel="icon" href="../../favicon.ico"> -->
  <title>NYC Bus Profile Dashboard</title>
  <!-- TODO - static resources: What should be downloaded vs. pulled down from CDN? -->
  <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/performances.css') }}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='css/libs/leaflet.css') }}" rel="stylesheet"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
</head>

<body>
  <nav class="navbar navbar-default" id="navBars">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div id="navbarHeader" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-1" aria-expanded="false" style="padding-top: 15px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mainLogo" class="navbar-brand" href="/home" style="padding-top: 23px;">
          <span class="text">NYC Bus Profile</span><i> beta</i>
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse-1" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right topbar">
          <li>
            <a href="/home">
              <span>Home</span>
            </a>
          </li>
          <li class="active">
            <a href="/routes/B41">
              <span>Route Level Metrics</span>
            </a>
          </li>
          <li>
            <a href="/methodologies">
              <span>Methodologies</span>
            </a>
          </li>
          <li>
            <a href="/about" style="padding-right:40px;">
              <span>About</span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav><!-- end of the navbar -->

  <!-- content -->
  <div class="container-route">
    <section id="header">
      <div class="row mtop40">
        <h1>
          <select id="routeSelect" class="selectRoute">
            {% for routeChoice in avail %}
              {% if routeChoice == route %}
              <option name="route" value="{{ routeChoice }}" selected="selected">{{ routeChoice }}</option>
              {% else %}
              <option name="route" value="{{ routeChoice }}">{{ routeChoice }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <span id="busLongName">Loading Bus...</span>
        </h1>
      </div><!--row-->


      <div class="row" id="topfilter">
        <div class="col-sm-3">
          <h4>DATE RANGE</h4>
          <select id="dateRangeSelect" size="1" class="filterSelect">
            <option name= "dateRange" value="1" selected="selected">Past Month</option>
            <option name= "dateRange" value="2">Past Year</option>
            <option name= "dateRange" value="3">All Time</option>
          </select>
        </div>
        <div class="col-sm-4">
          <h4>TIME FILTERS</h4>
          <select id="dayBinSelect" size="1" class="filterSelect">
            <option name= "daybin" value="0">All</option>
            <option name= "daybin" value="1" selected="selected">Weekday</option>
            <option name= "daybin" value="2">Weekend</option>
          </select>
          <select id="hourBinSelect" size="1" class="filterSelect">
            <option name= "hourbin" value="0" selected="selected">All</option>
            <option name= "hourbin" value="1">7am-10am</option>
            <option name= "hourbin" value="2">10am-4pm</option>
            <option name= "hourbin" value="3">4pm-7pm</option>
            <option name= "hourbin" value="4">7pm-10pm</option>
          </select>
        </div>
        <div class="col-sm-5">
          <h4>DIRECTION</h4>
          <select id="dirSelect" size="1" class="filterSelect" style="width:400px;">
            <option name= "direction" id="dir0" value="0" selected="selected">--</option>
            <option name= "direction" id="dir1" value="1">--</option>
          </select>
        </div>
      </div>
      <div class="sep"></div>
    </section>

    <!-- ewt, speed and chart -->
    <div id="loader-container" style="display:block;">
      <div class="loader"></div>
    </div>
    <div id="route-visible" class="hidden" style="display:block;">
    <section id="basicmetrics">
      <div class="row" id="route-summary">
        <h3>Route Summary</h3>
        <div class="col-sm-2">
          <div class="row">
            <div class="metricsblocks" data-toggle="tooltip" title="The difference between Scheduled Wait Time and Actual Wait Time in average">
              <div class="rowbox-sm">
                <h2>
                  Excess Wait Time</h2>
              </div>
              <div class="row row-sm">
                <h1 id= "route-ewt" class="jumbo jumbo2">-- </h1><h4 id="mins"> mins</h4>
                <!-- <h1 class="jumbo jumbo2">1.7 mins</h1> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="metricsblocks" data-toggle="tooltip" title="The difference between actual route's end to end journey time and scheduled journey time, relative to the journey time.">
              <div class="rowbox-sm">
                <h2>Route Lateness Factor</h2>
              </div>
              <div class="row row-sm">
                <h1 id= "route-rbt" class="jumbo jumbo2">-- %</h1>
                <!-- <h1 class="jumbo jumbo2">9.7%</h1> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="metricsblocks">
              <div class="rowbox-sm">
                <h2>Average Speed</h2>
              </div>
              <div class="row row-sm">
                <h1 id= "route-speed" class="jumbo jumbo2">-- </h1><h4 id="mph"> mph</h4>
                <!-- <h1 class="jumbo jumbo2">7.5 mph</h1> -->
              </div>
            </div>
          </div>

        </div> <!-- metrics -->

        <div class="col-sm-5 pleft30"> <!-- chart -->
          <div class="row">
            <!-- <div class="col-sm-2">
              <h2>Trend</h2>
            </div> -->
            <div class="col-sm-8">
              <div class="btn-group" data-toggle="buttons" id="metricSelect">
                <label class="btn btn-primary active">
                  <input type="radio" name="metric" value="ewt" checked> Exc. Wait Time
                </label>
                <!-- <label class="btn btn-primary">
                  <input type="radio" name="metric" value="rbt"> Planning Buffer
                </label> -->
                <label class="btn btn-primary">
                  <input type="radio" name="metric" value="speed"> Avg. Speed
                </label>
              </div>
            </div>

          </div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" data-target="#stop-chart">By Stops</a></li>
              <li><a data-toggle="tab" data-target="#long-chart" class="long-chart-tab">Past Month</a></li>
              <li><a data-toggle="tab" data-target="#week-chart">Past 7 days</a></li>
            </ul>
            <div class="tab-contents blocks">
              <div id="stop-chart" class="tab-pane fade in active">
              </div>
              <div id="long-chart" class="tab-pane fade">
              </div>
              <div id="week-chart" class="tab-pane fade">
              </div>

            </div>
          </div>
        </div> <!-- chart -->

        <div class="col-sm-5 pleft30"> <!-- accumulative chart -->
          <div class="row">
            <h2>Accumulative Travel Time Across Stops</h2>
            <div id="accumulative-chart">
              <div id="try">
              </div>
            </div>
          </div>
        </div>

      </div><!--row container-->
    </section>

    <section id="journey-section">
      <div class="row">
        <h3>Stop-to-Stop Journey</h3>
        <span>Select two stops below to learn about your journey.</span>
      </div><!--row-->
      <div class="row mleft0">
        <div class="col-sm-4">
          <div class="row">
            <div id="map"><!--map goes here!--></div>
          </div>
        </div>
        <div class="col-sm-8 pleft30">
          <div class="pair-container">
            <div>
              <span class="good">from</span><h3 id="startName" class="h3-route">--</h3>
            </div>
            <div>
            <hr>
            </div>
            <div>
              <span class="bad">to</span><h3 id="stopName" class="h3-route">--</h3>
            </div>
          </div>

          <div class="row mtop0">
            <div class="col-sm-12">

              <div class="row mleft0">
                <div class="col-sm-4">
                  <h4>Your Journey Performance</h4>
                  <div id="journey-bar-chart" class="responsive-plot">
                  </div>
                </div>
                <div class="col-sm-8 pleft30">
                  <h4>Your Average Journey Trendline</h4>
                  <div class="row">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" data-target="#journey-month-chart" class="long-chart-tab">Past Month</a></li>
                      <li><a data-toggle="tab" data-target="#journey-week-chart">Past 7 days</a></li>
                    </ul>
                    <div class="tab-contents">
                      <div id="journey-month-chart" class="tab-pane fade in active">
                      </div>
                      <div id="journey-week-chart" class="tab-pane fade">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div>
                <p id="countWarning" class="warning"></p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- map -->
      <div class="row mtop40">


      </div>
    </section>
  </div><!--route visible -->
  </div> <!-- container -->
  <div id="footer"><!-- footer -->
    <div id="footerInner">

      <div id="rightFooter">
        <a href="" target="_blank">
          <img src="{{ url_for('static', filename='img/transitcenter.png') }}" alt="MassDOT Logo" height="31" class="footerLogo">
        </a>
        <a href="" target="_blank">
          <img src="{{ url_for('static', filename='img/CUSP_long_color.jpg') }}" alt="MBTA Logo" height="31" class="footerLogo">
        </a>
      </div>
    </div>
  </div> <!-- End Footer -->


</body>

<!--javascripts -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tc_main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tc_map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tc_graphs.js') }}"></script>
<script>
  var route = '{{ route }}';
  var dataURL = `/routes/${route}/data`;
  $.getJSON(dataURL, function(data) {
    tc.initializeDashboard(data, first=true);
  });
</script>
</html>
